* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 0.5s;
  padding: 20px;
}

.container#black.active {
  filter: blur(20px);
}

.container .content {
  position: relative;
  max-width: 800px;
}
h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  background-color: aliceblue;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  visibility: hidden;
  opacity: 0;
}

#popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
