@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Reggae+One&display=swap");

* {
  margin: 0;
  padding: 0 auto;
  color: white;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1.5rem;
}

head {
  height: 20px;
}

body {
  overflow: scroll;
}
h1 {
  font-family: "Reggae One", cursive;
  font-size: 3rem;
}

.togglebutton {
  position: absolute;
  bottom: -120px;
  right: 0;

  width: 200px;
  height: 200px;
}
header {
  color: #f29f8d;
  z-index: 1;
  position: fixed;
}

.collection {
  position: relative;
  overflow: none;
  width: 100%;
  height: 100vh;
}

i {
  font-size: 1.9rem;
  margin-left: 4rem;
}

i:hover {
  transform: scale(1.2);
}

.collection .collection-section {
  position: relative;
  width: 100%;
  height: 100%;

  background-blend-mode: multiply;
}

.collection-section#black.active {
  backdrop-filter: blur(20px);
}
.collection-section#black1.active {
  backdrop-filter: blur(20px);
}

.collection .collection-section:nth-child(1) {
  background: antiquewhite url(./img/soap-5145058_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.collection .collection-section:nth-child(2) {
  background: #e8c3b9 url(./img/manicure-870857_1280.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.collection .collection-section:nth-child(3) {
  background: #f29f8d url(./img/eye-shadow-4558443_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.collection .collection-section:nth-child(4) {
  background: #99aabf url(./img/face-2722810_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.collection .collection-section:nth-child(5) {
  background: #69688c url(./img/lipstick-1137538_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.collection .collection-section:nth-child(6) {
  background: #383d59 url(./img/colors-291851_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.collection .collection-section:nth-child(7) {
  background: #383d59 url(./img/perfume-3275950_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.collection .collection-section .content {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  width: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 #ffffff;
  backdrop-filter: blur(5px);

  padding-top: 3rem;
  padding-bottom: 3rem;
  transition: 0.7s ease, background 0.1s ease;
  overflow: hidden;
  cursor: pointer;
}

.collection .collection-section .content::after {
  content: "";
  position: absolute;
  right: -30%;
  bottom: -150%;
  width: 5%;
  height: 500%;
  background-color: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(5px);

  opacity: 0.7;
  transform: rotate(45deg);
}
.collection .collection-section .content:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.collection .collection-section .content:hover::after {
  animation: anime 2s ease-in-out infinite;
}

@keyframes anime {
  0% {
    right: -30%;
  }
  100% {
    right: 300%;
  }
}
.collection .toggle-content {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: visible;
}
.collection .collection-section .toggle-content .content-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  text-align: center;
  height: 100%;
}

.collection .collection-section .content input {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: 200px;
  height: 200px;
  opacity: 0;
}

.collection .toggle-content#popup {
  backdrop-filter: blur(20px);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
}

.collection .toggle-content#popup1 {
  backdrop-filter: blur(20px);
  height: 100vh;

  visibility: hidden;
}

.collection .toggle-content#popup.active {
  visibility: visible;
}
.collection .toggle-content#popup1.active {
  visibility: visible;
  position: relative;
}

.toggle-content .content-inside .container img {
  max-width: 500px;
  max-height: 500px;
}

.toggle-content .content-inside .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.toggle-content .content-inside .container .container-item {
  margin: 20px;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  transition: 0.5s ease;
}

.toggle-content .content-inside .container .container-item:hover {
  transform: scale(1.1);
}
@media (max-width: 900px) {
  .collection {
    height: 50vh;
  }
  h1 {
    font-size: 2rem;
  }
  .collection .collection-section .content {
    top: 25%;
  }
}

@media (max-width: 1450px) {
  .collection .collection-section .content {
    width: 100%;
  }
}
